<div class="col-lg-12">
    <h3>{{title}}</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Carnet/CUI</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Rol</th>
                <th scope="col">Numero De Prestamo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                    <td>2015129</td>
                    <td>bgarcia-2015129</td>
                    <td>Billy</td>
                    <td>García</td>
                    <td>Rol_User</td>
                    <td>9</td>
                    <td>
                        <button type="button" class="btn btn-dark" style="cursor:pointer">
                            <span class="fas fa-edit" arial-hidden="true"></span> Edit
                        </button>   
                        <button type="button" class="btn btn-dark" style="cursor:pointer">
                            <span class="fas fa-trash" arial-hidden="true"></span> Borrar
                        </button>
                        <button type="button" class="btn btn-dark" style="cursor:pointer">
                            <span class="far fa-eye" arial-hidden="true"></span> Ver
                        </button>                             
                    </td>
            </tr>
            <tr >
                <td>2018129</td>
                <td>ajuarez-2018129</td>
                <td>Alan</td>
                <td>Juarez</td>
                <td>Rol_User</td>
                <td>10</td>
                <td>
                    <button type="button" class="btn btn-dark" style="cursor:pointer">
                        <span class="fas fa-edit" arial-hidden="true"></span> Edit
                    </button>   
                    <button type="button" class="btn btn-dark" style="cursor:pointer">
                        <span class="fas fa-trash" arial-hidden="true"></span> Borrar
                    </button>
                    <button type="button" class="btn btn-dark" style="cursor:pointer">
                        <span class="far fa-eye" arial-hidden="true"></span> Ver
                    </button>                             
                </td>
        </tr>
        <tr >
            <td></td>
            <td>admin</td>
            <td></td>
            <td></td>
            <td>admin</td>
            <td></td>
            <td>
                <button type="button" class="btn btn-dark" style="cursor:pointer">
                    <span class="fas fa-edit" arial-hidden="true"></span> Edit
                </button>   
                <button type="button" class="btn btn-dark" style="cursor:pointer">
                    <span class="fas fa-trash" arial-hidden="true"></span> Borrar
                </button>
                <button type="button" class="btn btn-dark" style="cursor:pointer">
                    <span class="far fa-eye" arial-hidden="true"></span> Ver
                </button>                             
            </td>
    </tr>
    <tr >
        <td>2016065</td>
        <td>cescalante-2016065</td>
        <td>Cesar</td>
        <td>escalante</td>
        <td>Rol_User</td>
        <td>2</td>
        <td>
            <button type="button" class="btn btn-dark" style="cursor:pointer">
                <span class="fas fa-edit" arial-hidden="true"></span> Edit
            </button>   
            <button type="button" class="btn btn-dark" style="cursor:pointer">
                <span class="fas fa-trash" arial-hidden="true"></span> Borrar
            </button>
            <button type="button" class="btn btn-dark" style="cursor:pointer">
                <span class="far fa-eye" arial-hidden="true"></span> Ver
            </button>                             
        </td>
</tr>
        </tbody>
    </table>
</div>