<div class="col-lg-12">
    <h1>{{title}}</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Autor</th>
                <th scope="col">Titulo</th>
                <th scope="col">Edición</th>
                <th scope="col">Palabras Clave</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Temas</th>
                <th scope="col">Copias</th>
                <th scope="col">Disponibles</th>
                <th scope="col">Frecuencia Actual</th>
                <th scope="col">Acción</th>                                
            </tr>
        </thead>
        <tbody>
            <tr >
                    <td>Chris John</td>
                    <td>National geographic</td>
                    <td>3er edición</td>
                    <td>Revista informativa</td>
                    <td>Las construcciones griegas</td>
                    <td>Los secretos de belleza en la Antigua Grecia.</td>
                    <td>10</td>
                    <td>9</td>
                    <td>10%</td>


                    <td>
                        <button type="button" class="btn btn-dark" style="cursor:pointer" data-toggle="modal" data-target="#exampleModalCenter">
                            <span class="fas fa-edit" arial-hidden="true"></span> Prestar
                        </button>                                                                              
                    </td>
            </tr>                   
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Contacto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Gracias por Prestar una Revista.
          Recuerda que no puedes prestar mas de 10 articulos!!!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>